

<div class="p-5 bg-white border text-center">
  <h1 class="display-4">Documentation for integrations </h1>
</div>


<br/>
<br/>

  <% if @user %>
  <a href="mailto:info@example.com?cc=help@example.com&subject=Customer Question&body=Question from UserId: <%= @user.id %> account email: <%=@user.email %>  %0D%0A Include your questions below.">Contact Us</a>
   <% else %>
    <a href="mailto:info@example.com?cc=help@example.com&subject=Customer Question&body=Include your questions below.">Contact Us</a>
  <% end %>

